<a href="https://colab.research.google.com/github/BYRic-F/Data_practice/blob/main/FB_de_%5BS%5DSujet_Bloc_2_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [162]:
import pandas as pd
import re

# Chargement du dataset Titanic
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [163]:
"""
1. Combien de passagers y avait-il au total sur le Titanic ?
"""

print(f"Nombre total de pasasgers : {df.shape[0]}")

Nombre total de pasasgers : 891

In [164]:
"""
2. Combien de passagers ont survécu ? (colonne 'Survived' = 1)
"""

nombre_survivants = df['Survived'].value_counts()

print(f"Nombre total de passagers : {nombre_survivants[1]}")

Nombre total de passagers : 342

In [165]:
"""
3. Quel est le taux de survie (en %) ?
"""

pourcentage_survivants = df['Survived'].value_counts(normalize = True)*100

print(f"Taux de survie : {round(pourcentage_survivants[1], 2)} %")

Taux de survie : 38.38 %

In [166]:
"""
4. Quel est l'âge moyen des passagers ? Ignore les valeurs manquantes.
"""

age_moyen = round(df['Age'].mean(), 2)

print(f"Age moyen des passagers : {age_moyen} ans")

Age moyen des passagers : 29.7 ans

In [167]:
"""
5. Affiche le nombre de passagers par classe ('Pclass').
"""

df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [168]:
"""
6. Affiche l'âge moyen par classe ('Pclass') et par sexe ('Sex').
"""

resultat  = round(df.groupby(["Pclass", "Sex"])["Age"].mean(),2)
resultat

Pclass  Sex
1       female    34.61
        male      41.28
2       female    28.72
        male      30.74
3       female    21.75
        male      26.51
Name: Age, dtype: float64

In [169]:
"""
7. Quels sont les noms des 5 passagers les plus âgés ?
"""

passager = df[['Name', "Age"]].sort_values("Age", ascending = False).head(5)
passager

                                     Name   Age
630  Barkworth, Mr. Algernon Henry Wilson  80.0
851                   Svensson, Mr. Johan  74.0
493               Artagaveytia, Mr. Ramon  71.0
96              Goldschmidt, Mr. George B  71.0
116                  Connors, Mr. Patrick  70.5

In [70]:
"""
8. Crée une nouvelle colonne 'Title' extraite du nom de chaque passager (M., Mme, Miss, etc.).
"""

df['Title'] = df["Name"].apply(lambda x : re.search(r'([a-zA-Z]+(?=\.))', x).group(0))
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0000,NaN,S,Mr
494,495,0,3,"Stanley, Mr. Edward Roland",male,21.0,0,0,A/4 45380,8.0500,NaN,S,Mr
514,515,0,3,"Coleff, Mr. Satio",male,24.0,0,0,349209,7.4958,NaN,S,Mr
588,589,0,3,"Gilinski, Mr. Eliezer",male,22.0,0,0,14973,8.0500,NaN,S,Mr
663,664,0,3,"Coleff, Mr. Peju",male,36.0,0,0,349210,7.4958,NaN,S,Mr

In [71]:
"""
9. Affiche la moyenne d’âge pour chaque titre ('Title').
"""

moyenne_age = round(df.groupby("Title")["Age"].mean(),0)
moyenne_age

Title
Capt        70.0
Col         58.0
Countess    33.0
Don         40.0
Dr          42.0
Jonkheer    38.0
Lady        48.0
Major       48.0
Master       5.0
Miss        22.0
Mlle        24.0
Mme         24.0
Mr          32.0
Mrs         36.0
Ms          28.0
Rev         43.0
Sir         49.0
Name: Age, dtype: float64

In [78]:
"""
10. Crée une colonne 'FamilySize' qui additionne 'SibSp' + 'Parch' + 1.
Puis affiche la taille de famille moyenne des survivants et des non-survivants.
"""

df["FamilySize"] = df["SibSp"] + df["Parch"] + 1

resultat = df.groupby("Survived")["FamilySize"].mean()

resultat

Survived
0    1.883424
1    1.938596
Name: FamilySize, dtype: float64

# JSON

In [173]:
import json

data_json = '''
[
    {
        "id": 1,
        "name": "John Smith",
        "contact": {
            "email": "john@example.com",
            "phone": "123-456-7890"
        },
        "purchases": [
            {"item": "Book", "price": 12.99},
            {"item": "Pen", "price": 1.99}
        ]
    },
    {
        "id": 2,
        "name": "Alice Johnson",
        "contact": {
            "email": "alice@example.com",
            "phone": "987-654-3210"
        },
        "purchases": [
            {"item": "Notebook", "price": 5.99}
        ]
    }
]
'''

data = json.loads(data_json)

In [178]:
"""
À partir du JSON ci-dessus :
- Crée une DataFrame avec les colonnes suivantes : id, name, email, phone, total_spent
- total_spent correspond à la somme des achats de chaque client
"""
df_spent = pd.json_normalize(
    data,
    meta=["name"],
    record_path = ["purchases"])

df_total = df_spent.groupby("name")["price"].sum().reset_index()

df_name =  pd.json_normalize(data)

df_final = pd.merge(df_name, df_total, on="name").drop(columns= "purchases").rename(columns={"contact.email": "contact", "contact.phone" : "phone"})
df_final

   id           name            contact         phone  price
0   1     John Smith   john@example.com  123-456-7890  14.98
1   2  Alice Johnson  alice@example.com  987-654-3210   5.99

In [179]:
# Autre solution :


data = json.loads(data_json)

clients = []

for client in data:
    total_spent = 0

    for achat in client['purchases']:
        total_spent += achat['price']

    clients.append({
        'id': client['id'],
        'name': client['name'],
        'email': client['contact']['email'],
        'phone': client['contact']['phone'],
        'total_spent': total_spent
    })

df = pd.DataFrame(clients)

print(df)

   id           name              email         phone  total_spent
0   1     John Smith   john@example.com  123-456-7890        14.98
1   2  Alice Johnson  alice@example.com  987-654-3210         5.99