<a href="https://colab.research.google.com/github/BYRic-F/Data_practice/blob/main/SQL_LC_SQL_Fundamentals_Window_Fcts_Partie1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercices sur les tables "customers" et "employee" de la base de données "toys_and_models"

N.B : Suivez les consignes afin de pouvoir exécuter vos requetes SQL

# Introduction

SQL est fondé sur une architecture client-serveur.

Python est capable de se connecter à toutes les bases de données SQL (Oracle, MySQL, Microsoft, etc.).

SQLite est un cas un peu particulier : il s'agit d'un petit fichier qui peut assumer le rôle de serveur, sans nécessité de nom d'utilisateur ni de mot de passe. Ceci sera utile pour cette série d'exercices.

Cependant, gardez à l'esprit que vous pourriez connecter votre script Python à d'autres bases de données en suivant les mêmes étapes.

In [1]:
                               ################ Executer cette cellule OBLIGATOIREMENT #################

# Ici, nous importons simplement le fichier SQLite. Cette partie est spécifique à SQLite.
import requests
import sqlite3
import pandas as pd

# Envoyer une requête HTTP GET à l'URL spécifiée pour récupérer le fichier SQLite sur GitHub
r = requests.get('https://raw.githubusercontent.com/murpi/wilddata/master/quests/toys_and_models.sqlite')

# Cela télécharge et sauvegarde essentiellement le fichier SQLite localement nommé 'toys_and_models.sqlite' en mode écriture binaire ('wb') et
# permet d'y accèder sur ton environnement Google Colab.
open('toys_and_models.sqlite', 'wb').write(r.content)

# Ceci est le "connecteur". Pour une base de données sécurisée, c'est ici que vous indiquerez votre nom d'utilisateur et votre mot de passe.
conn = sqlite3.connect('toys_and_models.sqlite')

In [2]:
# Voici un exemple de requête sql. La requête SQL est entre guillemets pour le premier argument, puis la variable conn en second argument.

pd.read_sql("select * from productlines", conn)

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,None,None
1,Motorcycles,Our motorcycles are state of the art replicas ...,None,None
2,Planes,"Unique, diecast airplane and helicopter replic...",None,None
3,Ships,The perfect holiday or anniversary gift for ex...,None,None
4,Trains,Model trains are a rewarding hobby for enthusi...,None,None
5,Trucks and Buses,The Truck and Bus models are realistic replica...,None,None
6,Vintage Cars,Our Vintage Car models realistically portray a...,None,None

## Voici le schéma de la base de donnée qu'on va utiliser pour la suite de ces exercices

![Texte alternatif…](https://mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)

# BEGINNER LEVEL

**Tâche 1:** Récupérez tous les noms des clients et leurs numéros de téléphones

In [3]:
pd.read_sql("""SELECT
        customerName,
        phone
        FROM customers



          """, conn)

                       customerName           phone
0                 Atelier graphique      40.32.2555
1                Signal Gift Stores      7025551838
2        Australian Collectors, Co.    03 9520 4555
3                 La Rochelle Gifts      40.67.8555
4                Baane Mini Imports      07-98 9555
..                              ...             ...
117    Motor Mint Distributors Inc.      2155559857
118        Signal Collectibles Ltd.      4155554312
119  Double Decker Gift Stores, Ltd  (171) 555-7555
120            Diecast Collectables      6175552555
121                Kellys Gift Shop   +64 9 5555500

[122 rows x 2 columns]

In [ ]:
# Ou, pour bien présenter, on utilise les """ sur plusieurs lignes

pd.read_sql("""SELECT
        customerName,
        phone
        FROM customers
        """, conn)

**Tâche 2:** Retrieve all customers located in the USA.

In [5]:
pd.read_sql("""
      SELECT customerName
      FROM customers
      WHERE country = 'USA'""", conn)

                    customerName
0             Signal Gift Stores
1   Mini Gifts Distributors Ltd.
2                Mini Wheels Co.
3              Land of Toys Inc.
4             Muscle Machine Inc
5          Diecast Classics Inc.
6           Technics Stores Inc.
7         American Souvenirs Inc
8     Cambridge Collectables Co.
9                Gift Depot Inc.
10               Vitachrome Inc.
11       Auto-Moto Classics Inc.
12      Online Mini Collectables
13             Toys4GrownUps.com
14             Boards & Toys Co.
15  Collectable Mini Designs Co.
16           Martas Replicas Co.
17                 Mini Classics
18           Mini Creations Ltd.
19      Corporate Gift Ideas Co.
20       Tekni Collectables Inc.
21       Classic Gift Ideas, Inc
22      Men R US Retailers, Ltd.
23             Gifts4AllAges.com
24  Online Diecast Creations Co.
25    Collectables For Less Inc.
26          Classic Legends Inc.
27              Gift Ideas Corp.
28     The Sharp Gifts Warehouse
29              Super Scale Inc.
30               Microscale Inc.
31              FunGiftIdeas.com
32   West Coast Collectables Co.
33  Motor Mint Distributors Inc.
34      Signal Collectibles Ltd.
35          Diecast Collectables

**Tâche 3:** Retrieve all customers whose credit limit is above 10,000.

In [6]:
pd.read_sql("""
      SELECT customerName
      from customers
      WHERE creditLimit > 10000""", conn)

                      customerName
0                Atelier graphique
1               Signal Gift Stores
2       Australian Collectors, Co.
3                La Rochelle Gifts
4               Baane Mini Imports
..                             ...
93    Motor Mint Distributors Inc.
94        Signal Collectibles Ltd.
95  Double Decker Gift Stores, Ltd
96            Diecast Collectables
97                Kellys Gift Shop

[98 rows x 1 columns]

**Tâche 4:** Retrieve customer names and countries, order them by country name.

In [9]:
pd.read_sql("""SELECT customerName,
              country
              FROM customers
              order by country""", conn)

                     customerName    country
0      Australian Collectors, Co.  Australia
1          Annas Decorations, Ltd  Australia
2       Souveniers And Things Co.  Australia
3     Australian Gift Network, Co  Australia
4    Australian Collectables, Ltd  Australia
..                            ...        ...
117              FunGiftIdeas.com        USA
118   West Coast Collectables Co.        USA
119  Motor Mint Distributors Inc.        USA
120      Signal Collectibles Ltd.        USA
121          Diecast Collectables        USA

[122 rows x 2 columns]

**Tâche 5:** Retrieve the first 10 customers when ordered by name.

In [10]:
pd.read_sql("""SELECT customerName
          FROM customers
          ORDER BY customerName """, conn)

                    customerName
0                  ANG Resellers
1                 AV Stores, Co.
2                   Alpha Cognac
3         American Souvenirs Inc
4             Amica Models & Co.
..                           ...
117              Vitachrome Inc.
118     Volvo Model Replicas, Co
119             Warburg Exchange
120  West Coast Collectables Co.
121            giftsbymail.co.uk

[122 rows x 1 columns]

**Tâche 6:** Find the total number of customers in the database.

In [16]:
pd.read_sql("""SELECT COUNT(customerName)
            from customers""", conn)

   COUNT(customerName)
0                  122

In [19]:
pd.read_sql("""
            SELECT COUNT(DISTINCT(customerName))
            FROM customers """, conn)

   COUNT(DISTINCT(customerName))
0                            122

**Tâche 7:** Find the maximum credit limit among all customers.

In [29]:
pd.read_sql("""SELECT
            MAX(creditLimit)
            from customers

            """, conn)

   MAX(creditLimit)
0            227600

**Tâche 8:** Retrieve customer names and cities, but only those located in states that are not NULL.

In [30]:
pd.read_sql("""
          SELECT customerName,
          city
          FROM customers
          WHERE state is NOT NULL
""", conn)

                         customerName            city
0                  Signal Gift Stores       Las Vegas
1          Australian Collectors, Co.       Melbourne
2        Mini Gifts Distributors Ltd.      San Rafael
3                     Mini Wheels Co.   San Francisco
4                   Land of Toys Inc.             NYC
5                  Muscle Machine Inc             NYC
6               Diecast Classics Inc.       Allentown
7                Technics Stores Inc.      Burlingame
8              American Souvenirs Inc       New Haven
9          Cambridge Collectables Co.       Cambridge
10                    Gift Depot Inc.     Bridgewater
11               Osaka Souveniers Co.         Kita-ku
12                    Vitachrome Inc.             NYC
13            Auto-Moto Classics Inc.      Brickhaven
14     Canadian Gift Exchange Network       Vancouver
15           Online Mini Collectables      Brickhaven
16                  Toys4GrownUps.com        Pasadena
17                  Boards & Toys Co.        Glendale
18       Québec Home Shopping Network        Montréal
19       Collectable Mini Designs Co.       San Diego
20                  giftsbymail.co.uk           Cowes
21  Royal Canadian Collectables, Ltd.       Tsawassen
22             Annas Decorations, Ltd    North Sydney
23          Souveniers And Things Co.       Chatswood
24                Martas Replicas Co.       Cambridge
25                      Mini Classics    White Plains
26                Mini Creations Ltd.     New Bedford
27           Corporate Gift Ideas Co.   San Francisco
28            Tekni Collectables Inc.          Newark
29        Australian Gift Network, Co  South Brisbane
30            Classic Gift Ideas, Inc    Philadelphia
31           Men R US Retailers, Ltd.     Los Angeles
32              Asian Treasures, Inc.            Cork
33               SAR Distributors, Co        Hatfield
34                  Gifts4AllAges.com          Boston
35       Online Diecast Creations Co.          Nashua
36         Collectables For Less Inc.      Brickhaven
37            Tokyo Collectables, Ltd       Minato-ku
38               Classic Legends Inc.             NYC
39                   Gift Ideas Corp.        Glendale
40          The Sharp Gifts Warehouse        San Jose
41                   Super Scale Inc.       New Haven
42                    Microscale Inc.             NYC
43                   FunGiftIdeas.com     New Bedford
44       Australian Collectables, Ltd    Glen Waverly
45        West Coast Collectables Co.         Burbank
46       Motor Mint Distributors Inc.    Philadelphia
47           Signal Collectibles Ltd.        Brisbane
48               Diecast Collectables          Boston

**Tâche 9:** Find all distinct countries where customers are located.

In [31]:
pd.read_sql("""
          SELECT DISTINCT country
          from customers""", conn)

         country
0         France
1            USA
2      Australia
3         Norway
4         Poland
5        Germany
6          Spain
7         Sweden
8        Denmark
9      Singapore
10      Norway
11      Portugal
12         Japan
13       Finland
14            UK
15       Ireland
16        Canada
17     Hong Kong
18         Italy
19   Switzerland
20   Netherlands
21       Belgium
22   New Zealand
23  South Africa
24       Austria
25   Philippines
26        Russia
27        Israel

**Tâche 10:** Retrieve customer name and credit limit, for those customers with credit limits between 5000 and 15000.

In [34]:
pd.read_sql("""SELECT customerName, creditLimit
              FROM customers
              WHERE creditLimit
              BETWEEN  5000 AND 15000 """, conn)

        customerName  creditLimit
0  Boards & Toys Co.        11000

# INTERMEDIATE LEVEL

**Tâche 11:** Retrieve all customer names along with the name of their sales representative.

Note: Adjust column names based on the 'employees' table schema.

In [36]:
pd.read_sql("""SELECT c.customerName,
            e.lastName
          FROM customers c
          JOIN employees e ON e.employeeNumber = c.salesRepEmployeeNumber


                """, conn)

                      customerName   lastName
0                Atelier graphique  Hernandez
1               Signal Gift Stores   Thompson
2       Australian Collectors, Co.     Fixter
3                La Rochelle Gifts  Hernandez
4               Baane Mini Imports      Jones
..                             ...        ...
95    Motor Mint Distributors Inc.     Vanauf
96        Signal Collectibles Ltd.   Jennings
97  Double Decker Gift Stores, Ltd       Bott
98            Diecast Collectables   Firrelli
99                Kellys Gift Shop      Marsh

[100 rows x 2 columns]

**Tâche 12:** Retrieve countries and count of customers in each, only for countries having more than 5 customers.

In [39]:
pd.read_sql(""" SELECT country,
                COUNT(*)
                FROM customers
                group by country
                having COUNT(*) > 5

                """, conn)

   country  COUNT(*)
0   France        12
1  Germany        13
2    Spain         7
3      USA        36

**Tâche 13:** Retrieve the total credit limit per country, ordering by total credit limit descending.

In [43]:
pd.read_sql(""" SELECT country,
              SUM(creditLimit) AS credit
              FROM customers
              GROUP BY country
              ORDER BY credit DESc

                """, conn)

         country   credit
0            USA  2811700
1         France   932300
2          Spain   517800
3             UK   443700
4      Australia   430300
5          Italy   388800
6    New Zealand   362500
7        Finland   285800
8        Germany   257100
9         Canada   228600
10       Denmark   204200
11     Singapore   201700
12      Norway     191900
13         Japan   175600
14        Sweden   169500
15   Switzerland   141300
16       Austria   117000
17       Belgium   103400
18        Norway    81700
19   Philippines    81500
20       Ireland    69400
21     Hong Kong    58600
22  South Africa        0
23        Russia        0
24      Portugal        0
25        Poland        0
26   Netherlands        0
27        Israel        0

**Tâche 14:** Retrieve the average credit limit and count of customers, grouped by country and state.

In [45]:
pd.read_sql(""" SELECT ROUNd(AVG(creditLimit),2),
                COUNT(customerName)
                FROM customers
                GROUP BY country, state


                """, conn)

    ROUNd(AVG(creditLimit),2)  COUNT(customerName)
0                   100550.00                    2
1                    51600.00                    1
2                    88800.00                    2
3                    58500.00                    2
4                    51700.00                    2
5                    89950.00                    2
6                    48700.00                    1
7                   102100.00                    2
8                    95266.67                    3
9                    77691.67                   12
10                   19776.92                   13
11                   58600.00                    1
12                   69400.00                    1
13                       0.00                    1
14                       0.00                    1
15                   97200.00                    4
16                   81200.00                    1
17                   94400.00                    1
18                       0.00                    1
19                   90625.00                    4
20                   81700.00                    1
21                   95950.00                    2
22                   81500.00                    1
23                       0.00                    1
24                       0.00                    2
25                       0.00                    1
26                   67233.33                    3
27                       0.00                    1
28                   73971.43                    7
29                   84750.00                    2
30                   47100.00                    3
31                   87450.00                    4
32                   93900.00                    1
33                   83854.55                   11
34                   57350.00                    4
35                   70755.56                    9
36                  114200.00                    1
37                   43000.00                    1
38                   71800.00                    1
39                   89966.67                    6
40                   84766.67                    3

**Tâche 15:** Retrieve the customer with the minimum credit limit in the USA.

In [46]:
pd.read_sql(""" SELECT customerName,
          MIN(CreditLimit)
          FROM customers
          WHERE country = 'USA'

                """, conn)

             customerName  MIN(CreditLimit)
0  American Souvenirs Inc                 0

In [ ]:
pd.read_sql("""

            """, conn)

**Tâche 16:** Retrieve customer names and their sales representative names, but only for customers with a NULL state.

In [47]:
pd.read_sql(""" SELECT
            c.customerName,
            e.employeeNumber
            FROM customers c
            LEFT JOIN employees e ON e.employeeNumber = c.salesRepEmployeeNumber
            WHERE state IS NULL

                """, conn)

                      customerName  employeeNumber
0                Atelier graphique          1370.0
1                La Rochelle Gifts          1370.0
2               Baane Mini Imports          1504.0
3               Havel & Zbyszek Co             NaN
4             Blauer See Auto, Co.          1504.0
..                             ...             ...
68       Kremlin Collectables, Co.             NaN
69              Raanan Stores, Inc             NaN
70      Iberia Gift Imports, Corp.          1702.0
71  Double Decker Gift Stores, Ltd          1501.0
72                Kellys Gift Shop          1612.0

[73 rows x 2 columns]

**Tâche 17:** Retrieve the top 5 countries with the highest average credit limit.

In [49]:
pd.read_sql(""" SELECT country,
              AVG(creditLimit) AS "Average credit Limit"
              FROM customers c
              GROUP BY (country)
              ORDER BY AVG(creditLimit) DESC
              LIMIT 5

                """, conn)

       country  Average credit Limit
0      Denmark         102100.000000
1        Italy          97200.000000
2     Norway            95950.000000
3      Finland          95266.666667
4  New Zealand          90625.000000

**Tâche 18:** Retrieve customer names that start with "A" and are located in the USA.

In [50]:
pd.read_sql(""" SELECT
              customerName
              FROM customers
              WHERE customerName LIKE "A%"
              and country = 'USA'

                """, conn)

              customerName
0   American Souvenirs Inc
1  Auto-Moto Classics Inc.

**Tâche 19:** Retrieve customer names and their sales representative numbers, for customers without a sales representative.

In [52]:
pd.read_sql(""" SELECT
              customerName,
              c.salesRepEmployeeNumber
            FROM customers c
            LEFT JOIN employees e ON e.employeeNumber = c.salesRepEmployeeNumber
            WHERE c.salesRepEmployeeNumber IS NULL
                """, conn)

                      customerName salesRepEmployeeNumber
0               Havel & Zbyszek Co                   None
1                Porto Imports Co.                   None
2       Asian Shopping Network, Co                   None
3                  Natürlich Autos                   None
4                    ANG Resellers                   None
5         Messner Shopping Network                   None
6                Franken Gifts, Co                   None
7                BG&E Collectables                   None
8                 Schuyler Imports                   None
9                 Der Hund Imports                   None
10       Cramer Spezialitäten, Ltd                   None
11           Asian Treasures, Inc.                   None
12            SAR Distributors, Co                   None
13                 Kommission Auto                   None
14          Lisboa Souveniers, Inc                   None
15  Stuttgart Collectable Exchange                   None
16        Feuer Online Stores, Inc                   None
17                Warburg Exchange                   None
18             Anton Designs, Ltd.                   None
19             Mit Vergnügen & Co.                   None
20       Kremlin Collectables, Co.                   None
21              Raanan Stores, Inc                   None

**Tâche 20:** Retrieve the second set of 10 customers when ordered by name.

In [53]:
pd.read_sql(""" SELECT
                  customerName AS `Customer name`
                FROM customers
                ORDER BY customerName
                LIMIT 10
                OFFSET 10

                """, conn)

                        Customer name
0        Australian Collectables, Ltd
1          Australian Collectors, Co.
2         Australian Gift Network, Co
3                Auto Associés & Cie.
4                   Auto Canal+ Petit
5             Auto-Moto Classics Inc.
6                   BG&E Collectables
7                  Baane Mini Imports
8  Bavarian Collectables Imports, Co.
9                Blauer See Auto, Co.