<a href="https://colab.research.google.com/github/BYRic-F/Data_practice/blob/main/SQL_FENETRAGE_Kata_SQL_Fundamentals_Window_Fcts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercices sur les tables """customers""" et """employee""" de la base de données """toys_and_models"""

N.B : Suivez les consignes afin de pouvoir exécuter vos requetes SQL

# Introduction

SQL est fondé sur une architecture client-serveur.

Python est capable de se connecter à toutes les bases de données SQL (Oracle, MySQL, Microsoft, etc.).

SQLite est un cas un peu particulier : il s'agit d'un petit fichier qui peut assumer le rôle de serveur, sans nécessité de nom d'utilisateur ni de mot de passe. Ceci sera utile pour cette série d'exercices.

Cependant, gardez à l'esprit que vous pourriez connecter votre script Python à d'autres bases de données en suivant les mêmes étapes.

In [1]:
                               ################ Executer cette cellule OBLIGATOIREMENT #################

# Ici, nous importons simplement le fichier SQLite. Cette partie est spécifique à SQLite.
import requests
import sqlite3
import pandas as pd

# Envoyer une requête HTTP GET à l'URL spécifiée pour récupérer le fichier SQLite sur GitHub
r = requests.get('https://raw.githubusercontent.com/murpi/wilddata/master/quests/toys_and_models.sqlite')

# Cela télécharge et sauvegarde essentiellement le fichier SQLite localement nommé 'toys_and_models.sqlite' en mode écriture binaire ('wb') et
# permet d'y accèder sur ton environnement Google Colab.
open('toys_and_models.sqlite', 'wb').write(r.content)

# Ceci est le """connecteur""". Pour une base de données sécurisée, c'est ici que vous indiquerez votre nom d'utilisateur et votre mot de passe.
conn = sqlite3.connect('toys_and_models.sqlite')

In [2]:
                  ################ Ceci est l'exemple à suivre pour exécuter vos requetes #################

# Voici un exemple de requête sql. La requête SQL est entre guillemets pour le premier argument, puis la variable conn en second argument.
pd.read_sql("""select * from customers""", conn)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370.0,21000
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166.0,71800
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",None,Nantes,None,44000,France,1370.0,118200
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504.0,81700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,None,Philadelphia,PA,71270,USA,1323.0,72600
118,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,None,Brisbane,CA,94217,USA,1165.0,60300
119,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,None,London,None,WA1 1DP,UK,1501.0,43300
120,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,None,Boston,MA,51003,USA,1188.0,85100
121,496,Kellys Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3A,None,Auckland,None,None,New Zealand,1612.0,110000

## Voici le schéma de la base de donnée qu'on va utiliser pour la suite de ces exercices

![Texte alternatif…](https://mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)

# BEGINNER LEVEL

**Tâche 1:** Récupérez tous les noms des clients et leurs numéros de téléphone..

In [ ]:
pd.read_sql("""SELECT customerName, phone
                FROM customers;""", conn)

                       customerName           phone
0                 Atelier graphique      40.32.2555
1                Signal Gift Stores      7025551838
2        Australian Collectors, Co.    03 9520 4555
3                 La Rochelle Gifts      40.67.8555
4                Baane Mini Imports      07-98 9555
..                              ...             ...
117    Motor Mint Distributors Inc.      2155559857
118        Signal Collectibles Ltd.      4155554312
119  Double Decker Gift Stores, Ltd  (171) 555-7555
120            Diecast Collectables      6175552555
121                Kellys Gift Shop   +64 9 5555500

[122 rows x 2 columns]

**Tâche 2:** Retrieve all customers located in the USA.

In [ ]:
pd.read_sql("""SELECT *
                FROM customers
                WHERE country = 'USA';""", conn)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166,71800
1,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165,210500
2,129,Mini Wheels Co.,Murphy,Julie,6505555787,5557 North Pendale Street,None,San Francisco,CA,94217,USA,1165,64600
3,131,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,None,NYC,NY,10022,USA,1323,114900
4,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286,138500
5,157,Diecast Classics Inc.,Leong,Kelvin,2155551555,7586 Pompton St.,None,Allentown,PA,70267,USA,1216,100600
6,161,Technics Stores Inc.,Hashimoto,Juri,6505556809,9408 Furth Circle,None,Burlingame,CA,94217,USA,1165,84600
7,168,American Souvenirs Inc,Franco,Keith,2035557845,149 Spinnaker Dr.,Suite 101,New Haven,CT,97823,USA,1286,0
8,173,Cambridge Collectables Co.,Tseng,Jerry,6175555555,4658 Baden Av.,None,Cambridge,MA,51247,USA,1188,43400
9,175,Gift Depot Inc.,King,Julie,2035552570,25593 South Bay Ln.,None,Bridgewater,CT,97562,USA,1323,84300
10,181,Vitachrome Inc.,Frick,Michael,2125551500,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,1286,76400
11,198,Auto-Moto Classics Inc.,Taylor,Leslie,6175558428,16780 Pompton St.,None,Brickhaven,MA,58339,USA,1216,23000
12,204,Online Mini Collectables,Barajas,Miguel,6175557555,7635 Spinnaker Dr.,None,Brickhaven,MA,58339,USA,1188,68700
13,205,Toys4GrownUps.com,Young,Julie,6265557265,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,1166,90700
14,219,Boards & Toys Co.,Young,Mary,3105552373,4097 Douglas Av.,None,Glendale,CA,92561,USA,1166,11000
15,239,Collectable Mini Designs Co.,Thompson,Valarie,7605558146,361 Furth Circle,None,San Diego,CA,91217,USA,1166,105000
16,286,Martas Replicas Co.,Hernandez,Marta,6175558555,39323 Spinnaker Dr.,None,Cambridge,MA,51247,USA,1216,123700
17,319,Mini Classics,Frick,Steve,9145554562,3758 North Pendale Street,None,White Plains,NY,24067,USA,1323,102700
18,320,Mini Creations Ltd.,Huang,Wing,5085559555,4575 Hillside Dr.,None,New Bedford,MA,50553,USA,1188,94500
19,321,Corporate Gift Ideas Co.,Brown,Julie,6505551386,7734 Strong St.,None,San Francisco,CA,94217,USA,1165,105000
20,328,Tekni Collectables Inc.,Brown,William,2015559350,7476 Moss Rd.,None,Newark,NJ,94019,USA,1323,43000
21,339,"Classic Gift Ideas, Inc",Cervantes,Francisca,2155554695,782 First Street,None,Philadelphia,PA,71270,USA,1188,81100
22,347,"Men R US Retailers, Ltd.",Chandler,Brian,2155554369,6047 Douglas Av.,None,Los Angeles,CA,91003,USA,1166,57700
23,362,Gifts4AllAges.com,Yoshido,Juri,6175559555,8616 Spinnaker Dr.,None,Boston,MA,51003,USA,1216,41900
24,363,Online Diecast Creations Co.,Young,Dorothy,6035558647,2304 Long Airport Avenue,None,Nashua,NH,62005,USA,1216,114200
25,379,Collectables For Less Inc.,Nelson,Allen,6175558555,7825 Douglas Av.,None,Brickhaven,MA,58339,USA,1188,70700
26,424,Classic Legends Inc.,Hernandez,Maria,2125558493,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,1286,67500
27,447,Gift Ideas Corp.,Lewis,Dan,2035554407,2440 Pompton St.,None,Glendale,CT,97561,USA,1323,49700
28,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,None,San Jose,CA,94217,USA,1165,77600
29,455,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,None,New Haven,CT,97823,USA,1286,95400
30,456,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800
31,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,None,New Bedford,MA,50553,USA,1216,85800
32,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,None,Burbank,CA,94019,USA,1166,55400
33,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,None,Philadelphia,PA,71270,USA,1323,72600
34,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,None,Brisbane,CA,94217,USA,1165,60300
35,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,None,Boston,MA,51003,USA,1188,85100

**Tâche 3:** Retrieve all customers whose credit limit is above 10,000.

In [ ]:
pd.read_sql("""SELECT *
                FROM customers
                WHERE creditLimit > 10000;""", conn)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370,21000
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166,71800
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",None,Nantes,None,44000,France,1370,118200
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504,81700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,None,Philadelphia,PA,71270,USA,1323,72600
94,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,None,Brisbane,CA,94217,USA,1165,60300
95,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,None,London,None,WA1 1DP,UK,1501,43300
96,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,None,Boston,MA,51003,USA,1188,85100
97,496,Kellys Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3A,None,Auckland,None,None,New Zealand,1612,110000

**Tâche 4:** Retrieve customer names and countries, order them by country name.

In [ ]:
pd.read_sql("""SELECT customerName, country
                FROM customers
                ORDER BY country;""", conn)

                     customerName    country
0      Australian Collectors, Co.  Australia
1          Annas Decorations, Ltd  Australia
2       Souveniers And Things Co.  Australia
3     Australian Gift Network, Co  Australia
4    Australian Collectables, Ltd  Australia
..                            ...        ...
117              FunGiftIdeas.com        USA
118   West Coast Collectables Co.        USA
119  Motor Mint Distributors Inc.        USA
120      Signal Collectibles Ltd.        USA
121          Diecast Collectables        USA

[122 rows x 2 columns]

**Tâche 5:** Retrieve the first 10 customers when ordered by name.

In [ ]:
pd.read_sql("""SELECT *
                FROM customers
                ORDER BY customerName
                LIMIT 10;""", conn)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,237,ANG Resellers,Camino,Alejandra,(91) 745 6555,"Gran Vía, 1",None,Madrid,None,28001,Spain,NaN,0
1,187,"AV Stores, Co.",Ashworth,Rachel,(171) 555-1555,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,1501.0,136800
2,242,Alpha Cognac,Roulet,Annette,61.77.6555,1 rue Alsace-Lorraine,None,Toulouse,None,31000,France,1370.0,61100
3,168,American Souvenirs Inc,Franco,Keith,2035557845,149 Spinnaker Dr.,Suite 101,New Haven,CT,97823,USA,1286.0,0
4,249,Amica Models & Co.,Accorti,Paolo,011-4988555,Via Monte Bianco 34,None,Torino,None,10100,Italy,1401.0,113000
5,276,"Annas Decorations, Ltd",OHara,Anna,02 9936 8555,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,1611.0,107800
6,465,"Anton Designs, Ltd.",Anton,Carmen,+34 913 728555,"c/ Gobelas, 19-1 Urb. La Florida",None,Madrid,None,28023,Spain,NaN,0
7,206,"Asian Shopping Network, Co",Walker,Brydey,+612 9411 1555,Suntec Tower Three,8 Temasek,Singapore,None,038988,Singapore,NaN,0
8,348,"Asian Treasures, Inc.",McKenna,Patricia,2967 555,8 Johnstown Road,None,Cork,Co. Cork,None,Ireland,NaN,0
9,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370.0,21000

**Tâche 6:** Find the total number of customers in the database.

In [ ]:
pd.read_sql("""SELECT COUNT(*)
                      FROM customers;""", conn)

   COUNT(*)
0       122

**Tâche 7:** Find the maximum credit limit among all customers.

In [ ]:
pd.read_sql("""SELECT MAX(creditLimit)
                      FROM customers;""", conn)

   MAX(creditLimit)
0            227600

**Tâche 8:** Retrieve customer names and cities, but only those located in states that are not NULL.

In [ ]:
pd.read_sql("""SELECT customerName, city
                FROM customers
                WHERE state IS NOT NULL;""", conn)

                         customerName            city
0                  Signal Gift Stores       Las Vegas
1          Australian Collectors, Co.       Melbourne
2        Mini Gifts Distributors Ltd.      San Rafael
3                     Mini Wheels Co.   San Francisco
4                   Land of Toys Inc.             NYC
5                  Muscle Machine Inc             NYC
6               Diecast Classics Inc.       Allentown
7                Technics Stores Inc.      Burlingame
8              American Souvenirs Inc       New Haven
9          Cambridge Collectables Co.       Cambridge
10                    Gift Depot Inc.     Bridgewater
11               Osaka Souveniers Co.         Kita-ku
12                    Vitachrome Inc.             NYC
13            Auto-Moto Classics Inc.      Brickhaven
14     Canadian Gift Exchange Network       Vancouver
15           Online Mini Collectables      Brickhaven
16                  Toys4GrownUps.com        Pasadena
17                  Boards & Toys Co.        Glendale
18       Québec Home Shopping Network        Montréal
19       Collectable Mini Designs Co.       San Diego
20                  giftsbymail.co.uk           Cowes
21  Royal Canadian Collectables, Ltd.       Tsawassen
22             Annas Decorations, Ltd    North Sydney
23          Souveniers And Things Co.       Chatswood
24                Martas Replicas Co.       Cambridge
25                      Mini Classics    White Plains
26                Mini Creations Ltd.     New Bedford
27           Corporate Gift Ideas Co.   San Francisco
28            Tekni Collectables Inc.          Newark
29        Australian Gift Network, Co  South Brisbane
30            Classic Gift Ideas, Inc    Philadelphia
31           Men R US Retailers, Ltd.     Los Angeles
32              Asian Treasures, Inc.            Cork
33               SAR Distributors, Co        Hatfield
34                  Gifts4AllAges.com          Boston
35       Online Diecast Creations Co.          Nashua
36         Collectables For Less Inc.      Brickhaven
37            Tokyo Collectables, Ltd       Minato-ku
38               Classic Legends Inc.             NYC
39                   Gift Ideas Corp.        Glendale
40          The Sharp Gifts Warehouse        San Jose
41                   Super Scale Inc.       New Haven
42                    Microscale Inc.             NYC
43                   FunGiftIdeas.com     New Bedford
44       Australian Collectables, Ltd    Glen Waverly
45        West Coast Collectables Co.         Burbank
46       Motor Mint Distributors Inc.    Philadelphia
47           Signal Collectibles Ltd.        Brisbane
48               Diecast Collectables          Boston

**Tâche 9:** Find all distinct countries where customers are located.

In [ ]:
pd.read_sql("""SELECT DISTINCT country
                FROM customers;""", conn)

         country
0         France
1            USA
2      Australia
3         Norway
4         Poland
5        Germany
6          Spain
7         Sweden
8        Denmark
9      Singapore
10      Norway
11      Portugal
12         Japan
13       Finland
14            UK
15       Ireland
16        Canada
17     Hong Kong
18         Italy
19   Switzerland
20   Netherlands
21       Belgium
22   New Zealand
23  South Africa
24       Austria
25   Philippines
26        Russia
27        Israel

**Tâche 10:** Retrieve customer name and credit limit, for those customers with credit limits between 5000 and 15000.

In [ ]:
pd.read_sql("""SELECT customerName, creditLimit
FROM customers
WHERE creditLimit BETWEEN 5000 AND 15000;""", conn)

        customerName  creditLimit
0  Boards & Toys Co.        11000

# INTERMEDIATE LEVEL

**Tâche 11:** Retrieve all customer names along with the name of their sales representative.

Note: Adjust column names based on the 'employees' table schema.

In [ ]:
pd.read_sql("""SELECT c.customerName, e.firstName
FROM customers c
JOIN employees e ON c.salesRepEmployeeNumber = e.employeeNumber;""", conn)

                      customerName firstName
0                Atelier graphique    Gerard
1               Signal Gift Stores    Leslie
2       Australian Collectors, Co.      Andy
3                La Rochelle Gifts    Gerard
4               Baane Mini Imports     Barry
..                             ...       ...
95    Motor Mint Distributors Inc.    George
96        Signal Collectibles Ltd.    Leslie
97  Double Decker Gift Stores, Ltd     Larry
98            Diecast Collectables     Julie
99                Kellys Gift Shop     Peter

[100 rows x 2 columns]

**Tâche 12:** Retrieve countries and count of customers in each, only for countries having more than 5 customers.

In [ ]:
pd.read_sql("""SELECT country, COUNT(*) as 'Total Customers'
FROM customers
GROUP BY country
HAVING COUNT(*) > 5;""", conn)

   country  Total Customers
0   France               12
1  Germany               13
2    Spain                7
3      USA               36

**Tâche 13:** Retrieve the total credit limit per country, ordering by total credit limit descending.

In [ ]:
pd.read_sql("""SELECT country, SUM(creditLimit) as 'Total credit limit'
FROM customers
GROUP BY country
ORDER BY SUM(creditLimit) DESC;""", conn)

         country  Total credit limit
0            USA             2811700
1         France              932300
2          Spain              517800
3             UK              443700
4      Australia              430300
5          Italy              388800
6    New Zealand              362500
7        Finland              285800
8        Germany              257100
9         Canada              228600
10       Denmark              204200
11     Singapore              201700
12      Norway                191900
13         Japan              175600
14        Sweden              169500
15   Switzerland              141300
16       Austria              117000
17       Belgium              103400
18        Norway               81700
19   Philippines               81500
20       Ireland               69400
21     Hong Kong               58600
22  South Africa                   0
23        Russia                   0
24      Portugal                   0
25        Poland                   0
26   Netherlands                   0
27        Israel                   0

**Tâche 14:** Retrieve the average credit limit and count of customers, grouped by country and state.

In [ ]:
pd.read_sql("""SELECT country, state, AVG(creditLimit), COUNT(*)
FROM customers
GROUP BY country, state;""", conn)

         country          state  AVG(creditLimit)  COUNT(*)
0      Australia            NSW     100550.000000         2
1      Australia     Queensland      51600.000000         1
2      Australia       Victoria      88800.000000         2
3        Austria           None      58500.000000         2
4        Belgium           None      51700.000000         2
5         Canada             BC      89950.000000         2
6         Canada         Québec      48700.000000         1
7        Denmark           None     102100.000000         2
8        Finland           None      95266.666667         3
9         France           None      77691.666667        12
10       Germany           None      19776.923077        13
11     Hong Kong           None      58600.000000         1
12       Ireland           None      69400.000000         1
13       Ireland       Co. Cork          0.000000         1
14        Israel           None          0.000000         1
15         Italy           None      97200.000000         4
16         Japan          Osaka      81200.000000         1
17         Japan          Tokyo      94400.000000         1
18   Netherlands           None          0.000000         1
19   New Zealand           None      90625.000000         4
20        Norway           None      81700.000000         1
21      Norway             None      95950.000000         2
22   Philippines           None      81500.000000         1
23        Poland           None          0.000000         1
24      Portugal           None          0.000000         2
25        Russia           None          0.000000         1
26     Singapore           None      67233.333333         3
27  South Africa       Pretoria          0.000000         1
28         Spain           None      73971.428571         7
29        Sweden           None      84750.000000         2
30   Switzerland           None      47100.000000         3
31            UK           None      87450.000000         4
32            UK  Isle of Wight      93900.000000         1
33           USA             CA      83854.545455        11
34           USA             CT      57350.000000         4
35           USA             MA      70755.555556         9
36           USA             NH     114200.000000         1
37           USA             NJ      43000.000000         1
38           USA             NV      71800.000000         1
39           USA             NY      89966.666667         6
40           USA             PA      84766.666667         3

**Tâche 15:** Retrieve the customer with the minimum credit limit in the USA.

In [ ]:
pd.read_sql("""SELECT * FROM customers WHERE country = 'USA' ORDER BY creditLimit LIMIT 1;""", conn)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,168,American Souvenirs Inc,Franco,Keith,2035557845,149 Spinnaker Dr.,Suite 101,New Haven,CT,97823,USA,1286,0

**Tâche 16:** Retrieve customer names and their sales representative names, but only for customers with a NULL state.

In [ ]:
# Note: Adjust column names based on the 'employees' table schema.
pd.read_sql("""
SELECT c.customerName, e.firstName
FROM customers c
LEFT JOIN employees e ON c.salesRepEmployeeNumber = e.employeeNumber
WHERE c.state IS NULL;""", conn)

                      customerName firstName
0                Atelier graphique    Gerard
1                La Rochelle Gifts    Gerard
2               Baane Mini Imports     Barry
3               Havel & Zbyszek Co      None
4             Blauer See Auto, Co.     Barry
..                             ...       ...
68       Kremlin Collectables, Co.      None
69              Raanan Stores, Inc      None
70      Iberia Gift Imports, Corp.    Martin
71  Double Decker Gift Stores, Ltd     Larry
72                Kellys Gift Shop     Peter

[73 rows x 2 columns]

**Tâche 17:** Retrieve the top 5 countries with the highest average credit limit.

In [ ]:
pd.read_sql("""SELECT country, AVG(creditLimit)
FROM customers
GROUP BY country
ORDER BY AVG(creditLimit) DESC
LIMIT 5;""", conn)

       country  AVG(creditLimit)
0      Denmark     102100.000000
1        Italy      97200.000000
2     Norway        95950.000000
3      Finland      95266.666667
4  New Zealand      90625.000000

**Tâche 18:** Retrieve customer names that start with """A""" and are located in the USA.

In [ ]:
pd.read_sql("""SELECT customerName FROM customers WHERE customerName LIKE 'A%' AND country = 'USA';""", conn)

              customerName
0   American Souvenirs Inc
1  Auto-Moto Classics Inc.

**Tâche 19:** Retrieve customer names and their sales representative numbers, for customers without a sales representative.

In [ ]:
pd.read_sql("""SELECT customerName, salesRepEmployeeNumber FROM customers WHERE salesRepEmployeeNumber IS NULL;""", conn)

                      customerName salesRepEmployeeNumber
0               Havel & Zbyszek Co                   None
1                Porto Imports Co.                   None
2       Asian Shopping Network, Co                   None
3                  Natürlich Autos                   None
4                    ANG Resellers                   None
5         Messner Shopping Network                   None
6                Franken Gifts, Co                   None
7                BG&E Collectables                   None
8                 Schuyler Imports                   None
9                 Der Hund Imports                   None
10       Cramer Spezialitäten, Ltd                   None
11           Asian Treasures, Inc.                   None
12            SAR Distributors, Co                   None
13                 Kommission Auto                   None
14          Lisboa Souveniers, Inc                   None
15  Stuttgart Collectable Exchange                   None
16        Feuer Online Stores, Inc                   None
17                Warburg Exchange                   None
18             Anton Designs, Ltd.                   None
19             Mit Vergnügen & Co.                   None
20       Kremlin Collectables, Co.                   None
21              Raanan Stores, Inc                   None

**Tâche 20:** Retrieve the second set of 10 customers when ordered by name.

In [ ]:
pd.read_sql("""SELECT * FROM customers ORDER BY customerName LIMIT 10 OFFSET 10;""", conn)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,None,Glen Waverly,Victoria,3150,Australia,1611.0,60300
1,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300
2,333,"Australian Gift Network, Co",Calaghan,Ben,61-7-3844-6555,31 Duncan St. West End,None,South Brisbane,Queensland,4101,Australia,1611.0,51600
3,256,Auto Associés & Cie.,Tonini,Daniel,30.59.8555,"67, avenue de lEurope",None,Versailles,None,78000,France,1370.0,77900
4,406,Auto Canal+ Petit,Perrier,Dominique,(1) 47.55.6555,"25, rue Lauriston",None,Paris,None,75016,France,1337.0,95000
5,198,Auto-Moto Classics Inc.,Taylor,Leslie,6175558428,16780 Pompton St.,None,Brickhaven,MA,58339,USA,1216.0,23000
6,293,BG&E Collectables,Harrison,Ed,+41 26 425 50 01,Rte des Arsenaux 41,None,Fribourg,None,1700,Switzerland,NaN,0
7,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504.0,81700
8,415,"Bavarian Collectables Imports, Co.",Donnermeyer,Michael,+49 89 61 08 9555,Hansastr. 15,None,Munich,None,80686,Germany,1504.0,77000
9,128,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,None,Frankfurt,None,60528,Germany,1504.0,59700

# ADVANCED LEVEL

**Tâche 21:** Find customer names with the highest credit limit.

In [7]:
pd.read_sql("""
            SELECT customerName
            from customers
            WHERE creditLimit =
                    (SELECT
                            MAX(creditLimit)
                            FROM customers
                            )
            """, conn)

             customerName
0  Euro+ Shopping Channel

**Tâche 22:** Retrieve customer names and their credit limit, omitting customers with the lowest credit limit.

In [8]:
pd.read_sql("""SELECT customerName,
              creditLimit
          from customers
          WHERE creditLimit  !=
                  (SELECT
                        MIN(creditLimit)
                        FROM customers)  """, conn)

                      customerName  creditLimit
0                Atelier graphique        21000
1               Signal Gift Stores        71800
2       Australian Collectors, Co.       117300
3                La Rochelle Gifts       118200
4               Baane Mini Imports        81700
..                             ...          ...
93    Motor Mint Distributors Inc.        72600
94        Signal Collectibles Ltd.        60300
95  Double Decker Gift Stores, Ltd        43300
96            Diecast Collectables        85100
97                Kellys Gift Shop       110000

[98 rows x 2 columns]

**Tâche 24:** Retrieve customer names with a credit limit below the average and order them by credit limit ascending.

In [14]:
pd.read_sql("""SELECT customerName
          from customers
          WHERE creditLimit <(SELECT AVG(creditLimit)
                    FROM customers
                    )
          ORDER BY creditLimit ASC   """, conn)

                      customerName
0               Havel & Zbyszek Co
1           American Souvenirs Inc
2                Porto Imports Co.
3       Asian Shopping Network, Co
4                  Natürlich Autos
5                    ANG Resellers
6         Messner Shopping Network
7                Franken Gifts, Co
8                BG&E Collectables
9                 Schuyler Imports
10                Der Hund Imports
11       Cramer Spezialitäten, Ltd
12           Asian Treasures, Inc.
13            SAR Distributors, Co
14                 Kommission Auto
15          Lisboa Souveniers, Inc
16           Precious Collectables
17  Stuttgart Collectable Exchange
18        Feuer Online Stores, Inc
19                Warburg Exchange
20             Anton Designs, Ltd.
21             Mit Vergnügen & Co.
22       Kremlin Collectables, Co.
23              Raanan Stores, Inc
24               Boards & Toys Co.
25               Atelier graphique
26         Auto-Moto Classics Inc.
27                    Royale Belge
28              Frau da Collezione
29                 Microscale Inc.
30               Gifts4AllAges.com
31         Tekni Collectables Inc.
32  Double Decker Gift Stores, Ltd
33      Cambridge Collectables Co.
34                 Mini Auto Werke
35    Québec Home Shopping Network
36                Gift Ideas Corp.
37     Australian Gift Network, Co
38        Volvo Model Replicas, Co
39                     Mini Caravy
40     West Coast Collectables Co.
41        Men R US Retailers, Ltd.
42     King Kong Collectables, Co.
43                     CAF Imports
44            Blauer See Auto, Co.
45              Enaco Distributors
46    Australian Collectables, Ltd
47        Signal Collectibles Ltd.
48                    Alpha Cognac
49                 Mini Wheels Co.
50            Marseille Mini Autos
51      Iberia Gift Imports, Corp.
52            Classic Legends Inc.

**Tâche 25:** Retrieve customer name and total credit limit, but only for customers with a sales representative.

In [15]:
# Ensure that the result is ordered by total credit limit descending.
pd.read_sql("""SELECT customerName, creditLimit
FROM customers
WHERE salesRepEmployeeNumber IS NOT NULL
ORDER BY creditLimit DESC
""", conn)

                    customerName  creditLimit
0         Euro+ Shopping Channel       227600
1   Mini Gifts Distributors Ltd.       210500
2                Vida Sport, Ltd       141300
3             Muscle Machine Inc       138500
4                 AV Stores, Co.       136800
..                           ...          ...
95       Auto-Moto Classics Inc.        23000
96             Atelier graphique        21000
97             Boards & Toys Co.        11000
98        American Souvenirs Inc            0
99         Precious Collectables            0

[100 rows x 2 columns]

**Tâche 26:** Retrieve the third highest credit limit from all customers.

In [16]:
pd.read_sql("""SELECT creditLimit
          FROM customers
          order BY creditLimit DESC
          LIMIT 1 OFFSET 2  """, conn)

   creditLimit
0       141300

**Tâche 27:** Retrieve customer names and their credit limit, ordering first by country ascending and then by credit limit descending.

In [19]:
pd.read_sql(""" SELECT customerName,
                creditLimit
                FROM customers
                order BY country ASC, creditLimit DESC  """, conn)

                     customerName  creditLimit
0      Australian Collectors, Co.       117300
1          Annas Decorations, Ltd       107800
2       Souveniers And Things Co.        93300
3    Australian Collectables, Ltd        60300
4     Australian Gift Network, Co        51600
..                            ...          ...
117             Gifts4AllAges.com        41900
118               Microscale Inc.        39800
119       Auto-Moto Classics Inc.        23000
120             Boards & Toys Co.        11000
121        American Souvenirs Inc            0

[122 rows x 2 columns]

**Tâche 29:** Retrieve customer names who have a credit limit higher than the average credit limit of all customers.

In [22]:
pd.read_sql("""SELECT customerName
            FROM customers
            WHERE creditLimit > (SELECT
              AVG(creditLimit) from customers
            )
               """, conn)

                    customerName
0             Signal Gift Stores
1     Australian Collectors, Co.
2              La Rochelle Gifts
3             Baane Mini Imports
4   Mini Gifts Distributors Ltd.
..                           ...
64    Corrida Auto Replicas, Ltd
65              FunGiftIdeas.com
66  Motor Mint Distributors Inc.
67          Diecast Collectables
68              Kellys Gift Shop

[69 rows x 1 columns]

# Pro LEVEL

**Tâche 30:** Retrieve the customer name, country, and credit limit, but only for customers with a credit limit above the average per country.

In [32]:
pd.read_sql("""SELECT
               c.customerName,
             c.country,
              c.creditLimit
          FROM customers c
          JOIN (SELECT country, AVG(creditLimit) AS moyenne_pays
          FROM customers
           GROUP BY country
            ) t on c.country = t.country
            WHERE c.creditLimit > t.moyenne_pays;""", conn)

                          customerName      country  creditLimit
0           Australian Collectors, Co.    Australia       117300
1                    La Rochelle Gifts       France       118200
2         Mini Gifts Distributors Ltd.          USA       210500
3                 Blauer See Auto, Co.      Germany        59700
4                    Land of Toys Inc.          USA       114900
5               Euro+ Shopping Channel        Spain       227600
6               Saveley & Henriot, Co.       France       123900
7              Dragon Souveniers, Ltd.    Singapore       103800
8                   Muscle Machine Inc          USA       138500
9                Diecast Classics Inc.          USA       100600
10                Technics Stores Inc.          USA        84600
11                    Handji Gifts& Co    Singapore        97900
12                        Herkku Gifts     Norway          96800
13            Daedalus Designs Imports       France        82900
14            La Corne Dabondance, Co.       France        84300
15                     Gift Depot Inc.          USA        84300
16                Toys of Finland, Co.      Finland        96500
17                      AV Stores, Co.           UK       136800
18             Clover Collections, Co.      Ireland        69400
19               UK Collectables, Ltd.           UK        92700
20      Canadian Gift Exchange Network       Canada        90300
21                   Toys4GrownUps.com          USA        90700
22                Heintze Collectables      Denmark       120800
23        Collectable Mini Designs Co.          USA       105000
24                   giftsbymail.co.uk           UK        93900
25                  Amica Models & Co.        Italy       113000
26                Auto Associés & Cie.       France        77900
27             Toms Spezialitäten, Ltd      Germany       120400
28   Royal Canadian Collectables, Ltd.       Canada        89600
29              Annas Decorations, Ltd    Australia       107800
30                       Rovelli Gifts        Italy       119600
31           Souveniers And Things Co.    Australia        93300
32                 Martas Replicas Co.          USA       123700
33                     Vida Sport, Ltd  Switzerland       141300
34                          Petit Auto      Belgium        79900
35                       Mini Classics          USA       102700
36                 Mini Creations Ltd.          USA        94500
37            Corporate Gift Ideas Co.          USA       105000
38                 Suominen Souveniers      Finland        98800
39             Classic Gift Ideas, Inc          USA        81100
40                  Reims Collectables       France        81100
41        Online Diecast Creations Co.          USA       114200
42               Salzburg Collectables      Austria        71700
43                  Lordine Souveniers        Italy       121400
44             Tokyo Collectables, Ltd        Japan        94400
45                   Auto Canal+ Petit       France        95000
46  Bavarian Collectables Imports, Co.      Germany        77000
47             Scandinavian Gift Ideas       Sweden       116400
48                    Super Scale Inc.          USA        95400
49          Corrida Auto Replicas, Ltd        Spain       104600
50                    FunGiftIdeas.com          USA        85800
51                Diecast Collectables          USA        85100
52                    Kellys Gift Shop  New Zealand       110000

**Tâche 31:** Use the LAG() function to retrieve the customer name along with the credit limit difference from the previous customer, ordered by credit limit.

In [37]:


pd.read_sql("""SELECT customerName,
                creditLimit,
                (creditLimit - (LAG(creditLimit) OVER(ORDER BY creditLimit))) AS diff
                FROM customers  """, conn)

                     customerName  creditLimit     diff
0              Havel & Zbyszek Co            0      NaN
1          American Souvenirs Inc            0      0.0
2               Porto Imports Co.            0      0.0
3      Asian Shopping Network, Co            0      0.0
4                 Natürlich Autos            0      0.0
..                            ...          ...      ...
117                AV Stores, Co.       136800  12900.0
118            Muscle Machine Inc       138500   1700.0
119               Vida Sport, Ltd       141300   2800.0
120  Mini Gifts Distributors Ltd.       210500  69200.0
121        Euro+ Shopping Channel       227600  17100.0

[122 rows x 3 columns]

**Tâche 32:** Use the RANK() function to retrieve the customer name, credit limit, and a rank column that ranks customers based on their credit limit.

In [40]:
pd.read_sql(""" SELECT customerName, creditLimit,
            RANK() OVER(Order by creditLimit desc) as rank
            FROM customers """, conn)

                     customerName  creditLimit  rank
0          Euro+ Shopping Channel       227600     1
1    Mini Gifts Distributors Ltd.       210500     2
2                 Vida Sport, Ltd       141300     3
3              Muscle Machine Inc       138500     4
4                  AV Stores, Co.       136800     5
..                            ...          ...   ...
117              Warburg Exchange            0    99
118           Anton Designs, Ltd.            0    99
119           Mit Vergnügen & Co.            0    99
120     Kremlin Collectables, Co.            0    99
121            Raanan Stores, Inc            0    99

[122 rows x 3 columns]

**Tâche 33:** Use NTILE to divide the customers into 4 groups based on their credit limit.

In [44]:
#Ntile permet de séparer en 4 groupes

pd.read_sql(""" SELECT customerName,
              creditLimit,
              NTILE(4) over(ORder by creditLimit) as bucket
              FROM customers """, conn)

                     customerName  creditLimit  bucket
0              Havel & Zbyszek Co            0       1
1          American Souvenirs Inc            0       1
2               Porto Imports Co.            0       1
3      Asian Shopping Network, Co            0       1
4                 Natürlich Autos            0       1
..                            ...          ...     ...
117                AV Stores, Co.       136800       4
118            Muscle Machine Inc       138500       4
119               Vida Sport, Ltd       141300       4
120  Mini Gifts Distributors Ltd.       210500       4
121        Euro+ Shopping Channel       227600       4

[122 rows x 3 columns]

**Tâche 34:** Use PARTITION BY to retrieve the average credit limit per country and compare individual customer credit limits with the average.

In [45]:
pd.read_sql("""SELECT customerName,
        country,
        creditLimit,
        AVG(creditLimit) OVER( PARTITION BY country) as avg_country_credit_limit

        FROM customers """, conn)

,customerName,country,creditLimit,avg_country_credit_limit
0,"Australian Collectors, Co.",Australia,117300,86060.000000
1,"Annas Decorations, Ltd",Australia,107800,86060.000000
2,Souveniers And Things Co.,Australia,93300,86060.000000
3,"Australian Gift Network, Co",Australia,51600,86060.000000
4,"Australian Collectables, Ltd",Australia,60300,86060.000000
...,...,...,...,...
117,FunGiftIdeas.com,USA,85800,78102.777778
118,West Coast Collectables Co.,USA,55400,78102.777778
119,Motor Mint Distributors Inc.,USA,72600,78102.777778
120,Signal Collectibles Ltd.,USA,60300,78102.777778
121,Diecast Collectables,USA,85100,78102.777778

**Tâche 35:** Use ROW_NUMBER() to assign a unique sequential integer to customers ordered by credit limit, and filter to retrieve only the top 10 customers.

In [50]:
pd.read_sql("""SELECT ROW_NUMBER() OVER (ORDER BY creditLimit DESC) as index,
          customerName
          FROM customers """, conn)

,ROW_NUMBER() OVER (ORDER BY creditLimit DESC),customerName
0,1,Euro+ Shopping Channel
1,2,Mini Gifts Distributors Ltd.
2,3,"Vida Sport, Ltd"
3,4,Muscle Machine Inc
4,5,"AV Stores, Co."
...,...,...
117,118,Warburg Exchange
118,119,"Anton Designs, Ltd."
119,120,Mit Vergnügen & Co.
120,121,"Kremlin Collectables, Co."
121,122,"Raanan Stores, Inc"

In [53]:
# Permet de créer un index

pd.read_sql("""SELECT c.customerName, creditLimit
            FROM customers c
            JOIN (SELECT ROW_NUMBER() OVER (ORDER BY creditLimit DESC) as rang,
          customerName
          FROM customers) i ON i.customerName = c.customerName
            ORDER By rang
              """, conn)

                     customerName  creditLimit
0          Euro+ Shopping Channel       227600
1    Mini Gifts Distributors Ltd.       210500
2                 Vida Sport, Ltd       141300
3              Muscle Machine Inc       138500
4                  AV Stores, Co.       136800
..                            ...          ...
117              Warburg Exchange            0
118           Anton Designs, Ltd.            0
119           Mit Vergnügen & Co.            0
120     Kremlin Collectables, Co.            0
121            Raanan Stores, Inc            0

[122 rows x 2 columns]

**Tâche 36:** Use FIRST_VALUE to retrieve the customer name along with the name of the customer with the highest credit limit.

In [54]:
pd.read_sql("""SELECT customerName,
       FIRST_VALUE(customerName) OVER(ORDER BY creditLimit DESC) AS highest_credit_customer
      FROM customers
  ;""", conn)

                     customerName highest_credit_customer
0          Euro+ Shopping Channel  Euro+ Shopping Channel
1    Mini Gifts Distributors Ltd.  Euro+ Shopping Channel
2                 Vida Sport, Ltd  Euro+ Shopping Channel
3              Muscle Machine Inc  Euro+ Shopping Channel
4                  AV Stores, Co.  Euro+ Shopping Channel
..                            ...                     ...
117              Warburg Exchange  Euro+ Shopping Channel
118           Anton Designs, Ltd.  Euro+ Shopping Channel
119           Mit Vergnügen & Co.  Euro+ Shopping Channel
120     Kremlin Collectables, Co.  Euro+ Shopping Channel
121            Raanan Stores, Inc  Euro+ Shopping Channel

[122 rows x 2 columns]

**Tâche 37:** Use PERCENT_RANK() to retrieve the customer name, credit limit, and percentile rank of the credit limit among all customers.

In [56]:
pd.read_sql("""SELECT customerName, creditLimit,
       PERCENT_RANK() OVER(ORDER BY creditLimit) AS pct_rank
       FROM customers  """, conn)

                     customerName  creditLimit  pct_rank
0              Havel & Zbyszek Co            0  0.000000
1          American Souvenirs Inc            0  0.000000
2               Porto Imports Co.            0  0.000000
3      Asian Shopping Network, Co            0  0.000000
4                 Natürlich Autos            0  0.000000
..                            ...          ...       ...
117                AV Stores, Co.       136800  0.966942
118            Muscle Machine Inc       138500  0.975207
119               Vida Sport, Ltd       141300  0.983471
120  Mini Gifts Distributors Ltd.       210500  0.991736
121        Euro+ Shopping Channel       227600  1.000000

[122 rows x 3 columns]

**Tâche 38:** Use the LAG() function to retrieve the customer name and the difference between the credit limit of the current customer and the one before, partitioned by country.

In [57]:
pd.read_sql("""SELECT customerName, country, creditLimit,
       creditLimit - LAG(creditLimit) OVER(PARTITION BY country ORDER BY creditLimit) AS diff
FROM customers  """, conn)

                     customerName    country  creditLimit     diff
0     Australian Gift Network, Co  Australia        51600      NaN
1    Australian Collectables, Ltd  Australia        60300   8700.0
2       Souveniers And Things Co.  Australia        93300  33000.0
3          Annas Decorations, Ltd  Australia       107800  14500.0
4      Australian Collectors, Co.  Australia       117300   9500.0
..                            ...        ...          ...      ...
117  Online Diecast Creations Co.        USA       114200   9200.0
118             Land of Toys Inc.        USA       114900    700.0
119           Martas Replicas Co.        USA       123700   8800.0
120            Muscle Machine Inc        USA       138500  14800.0
121  Mini Gifts Distributors Ltd.        USA       210500  72000.0

[122 rows x 4 columns]

**Tâche 39:** Use RANK() to retrieve the customer name and ranking of the credit limit, partitioned by country.

In [59]:
pd.read_sql("""SELECT customerName,
            country,
            RANK() OVER(PARTITION BY country ORDER BY creditLimit DESC) as RANK
            FROM customers  """, conn)

                     customerName    country  RANK
0      Australian Collectors, Co.  Australia     1
1          Annas Decorations, Ltd  Australia     2
2       Souveniers And Things Co.  Australia     3
3    Australian Collectables, Ltd  Australia     4
4     Australian Gift Network, Co  Australia     5
..                            ...        ...   ...
117             Gifts4AllAges.com        USA    32
118               Microscale Inc.        USA    33
119       Auto-Moto Classics Inc.        USA    34
120             Boards & Toys Co.        USA    35
121        American Souvenirs Inc        USA    36

[122 rows x 3 columns]

**Tâche 40:** Use DENSE_RANK() to retrieve the customer name and ranking of the credit limit without gaps, partitioned by country.

In [60]:
pd.read_sql("""SELECT customerName, country, creditLimit,
       DENSE_RANK() OVER(PARTITION BY country ORDER BY creditLimit DESC) AS drnk
FROM customers  """, conn)

                     customerName    country  creditLimit  drnk
0      Australian Collectors, Co.  Australia       117300     1
1          Annas Decorations, Ltd  Australia       107800     2
2       Souveniers And Things Co.  Australia        93300     3
3    Australian Collectables, Ltd  Australia        60300     4
4     Australian Gift Network, Co  Australia        51600     5
..                            ...        ...          ...   ...
117             Gifts4AllAges.com        USA        41900    31
118               Microscale Inc.        USA        39800    32
119       Auto-Moto Classics Inc.        USA        23000    33
120             Boards & Toys Co.        USA        11000    34
121        American Souvenirs Inc        USA            0    35

[122 rows x 4 columns]